:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;

    background-color: hsl(204, 43%, 93%);
}

h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}

.grid-container{
    color: hsl(218, 22%, 67%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, auto);

    margin: 30px auto;
    width: 75%;
    box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.12);
}

.grid-1,
.grid-2,
.grid-3{
    padding: 35px;
}



/* GRID 1 */
.grid-1{
    grid-column: 1/3;
    height: a;

    background-color: #ffffff;
}

.grid-1 h1{
    color: hsl(179, 62%, 43%);
    margin-top: 0;
}

.grid-1 .quote{
    color: hsl(71, 73%, 54%);
}



/* GRID 2 */
.grid-2{
    color: hsl(204, 43%, 93%);
    background-color: hsl(179, 62%, 43%);
}

.grid-2 .price{
    font-size: 25px;
    font-weight: 700;

    margin-top: 20px;
    margin-bottom: 5px;
}

.grid-2 .price span{
    color: hsl(204, 43%, 93%);
    font-size: 14px;
    font-weight: 400;
}

.grid-2 button{
    background-color: hsl(71, 73%, 54%);
    border-width: 0;
    border-radius: 4px;
    
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 5px 15px 5px rgba(51, 51, 51, 0.12);
}

.grid-2 button:active{
    box-shadow: none;
}

/* Problem with button: clickable area is small */

.grid-2 button a{
    color: #ffffff;
    font-family: 'Karla';
    font-weight: 700;
    text-decoration: none;

    display: block;
    padding: 10px 0;
    width: 100%;
}




/* GRID 3 */
.grid-3{
    font-size: 13px;

    color: hsl(204, 43%, 93%);
    background-color: hsla(179, 62%, 43%, 0.7);
}

.grid-3 p{
    margin: 0;
}

.grid-3 p:first-of-type{
    margin-top: 20px;
}

.grid-3 p + p{
    margin-top: 6px;
}

